body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    text-decoration: row;
    height: 100vh;
}
#nav-container-left {
    width: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 600;
   
}
#nav-container-left div img {
    width: 68.93px;
    height: 55.46px;
    margin-top: 32px;
    margin-left: 55px;
    margin-right: 31.07px;

}

.nav-contaşner-left-bottom ul {
    list-style-type: none;
    transform: rotate(270deg);
    display: flex;
    flex-direction: row;
    gap: 40px;


}
.nav-contaşner-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.nav-contaşner-left-bottom hr{
    width: 0px;
    height: 60px;
    border: 1px solid #303030;
    
}
.nav-contaşner-left-bottom ul li:first-child{
    color: #FF6C00;
}
#nav-container-right {
    background-image: url("../images/heaaderimage.jpg");
    width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 54px;
    margin-right: 55px;
}
#navbar-left ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;

}
#navbar-right {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
#navbar-right a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
}
.button-comp-black {
    width: 160px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;
    font-size: 12px;
    color: black;
    letter-spacing: 0.09em;
    font-weight: 600;
    text-transform: uppercase;
}
#title-main{
    width: 500px;
    height: 202px;
    margin-top: 272px;
    margin-left: 100px;
    
}
#title-main div {
    display: inline-flex;
    flex-direction: row;
    color: #9DA4BD;
    align-items: center;
    gap: 20px;

}
#title-main hr {
    width: 60px;
    height: 0px;
    border: 1px solid #9DA4BD;
    
}
#title-main h1 {
    width: 500px;
    font-size: 72px;
    font-family: "Raleway";
    font-weight: bold;
    color: white;
    letter-spacing: 0.05em;
    margin-top: 20px;
    margin-bottom: 0px;
}
#title-main p{
    font-size: 18px;
    color: #9DA4BD;
}

#next-back {
    position: absolute;
    bottom: 40px;
    right: 55px;
    display: flex;
    flex-direction: row;
    gap: 26px;
    

}
#next-back div {
    width: 60px;
    height: 24px;
    
}
#next-back div a {
    text-decoration: none;
    color: white;
}
.next a {
    display: flex;
    justify-content: end;
}
#about {
    display: flex;
    flex-direction: row;
    margin-top: 130px;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 130px;
    gap: 64px;
}
#about-left{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 445px;
    /* margin-top: 130px;
    margin-bottom: 130px; */
}
.about-right-top-title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    width: 122px;
        height: 15px;
        color: #303030;
        

}
.about-right-top-title hr {
    width: 60px;
    height: 0;
    border: 1px solid #303030;
}
.about-right-top-title h6 {
    width: 42px;
    height: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 14.98px;
    letter-spacing: 0.1em;
    margin: 0px;
}

#about-right h2 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    line-height: 49.31px;
    letter-spacing: 0.05em;
    width: 500px;
    height: 98px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #303030;
}
.about-right-first-text {
    width: 500px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #555555;
}
.about-right-second-text{
width: 536px;
height: 104px;
font-weight: 400;
font-size: 14px;
line-height: 26px;
letter-spacing: 0.02em;
color: #555555;
margin-bottom: 40px;
}
